<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.llx278.exeventbus">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        >
        <service
            android:name=".remote.TestService1"
            android:process=":remote1" />
        <service
            android:name=".remote.TestService2"
            android:process=":remote2" />
        <service
            android:name=".remote.TestService3"
            android:process=":remote3" />
        <service
            android:name=".remote.TestService4"
            android:process=":remote4" />
        <service
            android:name=".remote.TestService5"
            android:process=":remote5" />
        <service
            android:name=".remote.TestService6"
            android:process=":remote6" />
        <service
            android:name=".remote.TestService7"
            android:process=":remote7" />
        <service
            android:name=".remote.TestService8"
            android:process=":remote8" />
        <service
            android:name=".TestService9"
            android:process=":remote9"
            />
    </application>

</manifest>
